<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <table border="1" cellspacing="0">
            <tr>
                <td>书籍ID</td>
                <td>名称</td>
                <td>价格</td>
                <td>操作</td>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.price }}</td>
                    <td>
                        <a href="{{ url_for('buy_book', book_id = book.id) }}">购买</a> |
                        <a href="{{ url_for('alter_book', book_id = book.id) }}">修改书籍：{{ book.name }}</a> |
                        <a href="{{ url_for('delete_book',id = book.id) }}">删除书籍</a>|
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock content %}

</body>
</html>