<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态数据库展示</title>
    <style>
        table{

            border: 3px solid ;
            background-color: pink;
            padding: 1px;

        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>username</td>
            <td>password</td>
        </tr>
        {# 对数据进行遍历输出，循环tr标签 #}
        {% for i in item %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.password }}</td>
            </tr>
        {% endfor %}


    </table>
</body>
</html>