<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:0 auto;width:500px;height:500px;text-align:center;border: 1px solid;margin-top:50px">
<h1>聊天系统</h1>
<form method="get"  action="">
    <input type="text" placeholder="请输入你想发送的消息" name="content" id="content">
    <input type="submit" value="发送">
    <p>菲菲：{{ data_content }}</p>

</form>
    <hr />
    <p>支持功能：天气、翻译、藏头诗、笑话、歌词、计算、域名信息/备案/收录查询、IP查询、手机号码归属、人工智能聊天</p>
    <p>链接：青云客 <a href="http://www.qingyunke.com">www.qingyunke.com</a></p>
</div>
</body>
</html>